<h1>Tasks List</h1>
<ul>
<% @tasks.each { |task| %>
  <li> <%= link_to task.title, task_path(task[:title])%>
  | -
  <%= button_to 'Destroy', task_path(task[:title]), method: :delete, :onclick => "return confirm('Are you sure you want to delete this post?')" %>
<% } %>
</ul>

<%= link_to '+ add new task', '/tasks/new' %>
