<h1>Tasks List</h1>
<ul>
<% @tasks.each { |task| %>
  <li>
  | <%= link_to "- X", { controller: "tasks", action: "destroy", title: task.title },  data: { confirm: 'Are you sure?' },
  method: :delete %></li>
<% } %>
</ul>

<%= link_to '+ add new task', '/tasks/new' %>
