<h1>Tasks List</h1>
<ul>
<% @tasks.each { |task| %>
  <li><%= link_to task.title,  "tasks/#{task.title}"%>
  | <%= link_to "- X", task_path(task.title), method: :delete %></li>
<% } %>
</ul>

<%= link_to '+ add new task', '/tasks/new' %>
